        .BOX{
            text-align: center;
            text-transform: uppercase;
            width: 10px;
            padding: 10px;
            margin: 10px;
            color: blue;
        }
        #CSE-13{
            text-align: center;
            text-transform: uppercase;
            width: 10px;
            padding: 10px;
            margin: 10px;
            color: blue;

        }
    </style>